*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
}

.section-stats {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 24px;
  text-align: center;
}

.section-stats h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 12px;
}

.section-stats > p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 64px;
}

.section-stats .layout {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.section-card {
  position: relative;
  padding: 16px 0 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
  background: #f7f7f7;
  border-radius: 3px;
  text-align: left;
}

.section-card .icon img {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.value {
  font-size: 64px;
  font-weight: 500;
  color: #0c0c0c;
  line-height: 1.1;
  letter-spacing: -2%;
}

.description {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.section-card.large {
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 20px;
}

.section-card.large .value {
  font-size: 120px;
}

.section-card.large .card-image {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.section-card.large .card-image img {
  width: 156px;
  height: auto;
  object-fit: contain;
}

.section-card.large .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
} 

.card-small-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: space-between;
}

.section-card.small {
  margin: 0;
  padding: 16px;
  background: #f7f8fa;
  border-radius: 3px;
  text-align: left;
  flex-shrink: 0;
}

/* Media query */

@media (max-width: 768px) {

  .section-stats .layout {
    flex-direction: column;
    align-items: center;
  }

  .section-stats {
    padding: 40px 16px;
  }

  .section-stats h1 {
    font-size: 32px;
  }

  .section-stats > p {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .section-card.small .value {
    font-size: 48px;
  }

  .section-card.small .description {
    font-size: 16px;
  }

  .card-large {
    width: 100%;
  } 

  .section-card.large .value {
    font-size: 56px;
  }

  .card-small-wrapper {
    gap: 12px;
  }

  .section-card {
    padding: 12px;
  }

  .section-card .icon img {
    top: 12px;
    left: 12px;
  }

  .section-card .content {
    padding-top: 20px;
  }
}

@media (max-width: 1024px) {
  .section-stats .layout {
    align-items: center;
  }

  .card-small-wrapper {
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .section-card.large {
    flex-direction: column;
  }

  .section-card .card-large {
    width: 100%;
  }

  .section-card.large .value {
    font-size: 72px;
  }

  .section-card.large .card-image img {
    max-width: 100%;
  }

  .section-card.large .content {
    width: 100%;
  }

  .section-card .content {
    padding-top: 20px;
  }
}