*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
}

.section-stats {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 24px;
  text-align: center;
}

.section-stats h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 12px;
}

.section-stats > p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 64px;
}

.section-stats .layout {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.section-card {
  position: relative;
  padding: 16px 0 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
  background: #f7f7f7;
  border-radius: 3px;
  text-align: left;
}

.section-card .icon img {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.value {
  font-size: 64px;
  font-weight: 500;
  color: #0c0c0c;
  line-height: 1.1;
  letter-spacing: -2%;
}

.description {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.section-card.large {
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 20px;
}

.section-card.large .value {
  font-size: 120px;
}

.section-card.large .card-image {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.section-card.large .card-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.section-card.large .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.card-small-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: space-between;
}

.section-card.small {
  margin: 0;
  padding: 16px;
  background: #f7f8fa;
  border-radius: 3px;
  text-align: left;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  
}

@media (max-width: 1024px) {
  
}
