---
import stats from '../data/stats.json';
import StatBox from './StatBox.astro';
import '../styles/stats.css';
---

<section class="section-stats">
  <h1>Headline</h1>
  <p>Lorem ipsum dolor sit amet</p>
  <div class="layout">
    <div class="card-large">
      <StatBox {...stats[0]} variant="large" />
    </div>
    <div class="card-small-wrapper">
      {stats.slice(1).map((stat, index) => (
        <StatBox {...stat} variant="small" key={index} />
      ))}
    </div>
  </div>
</section>