---
const { icon, value, description, variant = "small" } = Astro.props;
---

<div class={`section-card ${variant}`}>
  {variant === "large" && (
    <figure class="card-image">
      <img src="/assets/2-b.png" alt="" />
    </figure>
  )}

  <figure class="icon">
    <img src={icon} alt="icon" />
  </figure>

  <div class="content">
    <span class="value">{value}</span>
    <p class="description">{description}</p>
  </div>
</div>
